body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

/* Contacts Page */

.contact-datepicker-buttons {
  padding: 0px 5px 5px 5px;
}

#contact-page-title > span {
    margin-left: 13px;
    font-weight: bold;
}

.other-contact .form-inline {
    margin-bottom: 5px;
}

.other-contact-val {
    min-width: 60%;
}

.modal .other-contact {
    margin-left: 4%;
}

#add-new-contact {
    margin-top: 1%;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Contact's Follow-ups Page */
#follow-up-main .row {
  margin-bottom: 2%;
}